.movie-card {
	background-color: #1c1c1c;
	border: 1px solid #c39a5d;
	border-radius: 8px;
	padding: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin: 10px;
	transition: all 0.1s ease-in-out;
	display: inline-block;
}

.movie-card:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transform: translateY(1px);
}

.movie-card:active {
	background-color: rgba(255, 255, 255, 0.2);
}

.movie-card h2 {
	font-family: 'Bebas Neue', sans-serif;
	margin: 10px 0;
	font-size: 1.5rem;
}

.movie-card img {
	width: 100%;
	height: auto;
	border-radius: 4px;
}
