.wrapper {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.container {
		width: 100%;
		height: 100%;
		max-width: 300px;
		max-height: 400px;

		.header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;

			h2 {
				font-size: 24px;
			}

			a {
				color: rgba($color: #d3d3d3, $alpha: 0.6);
				font-size: 12px;
				letter-spacing: 0.5px;
				padding: 8px 14px;
				border: 1px solid rgba($color: #d3d3d3, $alpha: 0.1);
				border-radius: 2px;
				transition: color 0.2s ease-in-out;

				&:hover {
					color: #d3d3d3;
				}
			}
		}
		.formContainer {
			display: flex;
			flex-direction: column;
			gap: 8px;
			align-items: center;
			width: 100%;

			.nameContainer {
				display: flex;
				gap: 4px;
			}

			.lastNameInput,
			.firstNameInput,
			.emailInput,
			.usernameInput {
				width: 100%;
				position: relative;

				img {
					position: absolute;
					top: 13px;
					left: 13px;
				}

				&::before {
					content: '';
					width: 1px;
					height: 28px;
					background-color: rgba($color: #d3d3d3, $alpha: 0.1);
					position: absolute;
					top: 7px;
					left: 38px;
				}
			}
			.passwordInput {
				width: 100%;
				position: relative;

				img {
					position: absolute;
					top: 13px;

					&:first-child {
						left: 13px;
					}

					&.toggleIcon {
						right: 13px;
						cursor: pointer;
						opacity: 0.7;
					}
				}
			}

			input {
				border-radius: 2px;
				color: #ffd700;
				font-size: 16px;
				background-color: inherit;
				border: 2px solid rgba($color: #d3d3d3, $alpha: 0.1);
				width: 100%;
				padding: 10px 10px 10px 45px;
				box-sizing: border-box;

				&::placeholder {
					font-size: 14px;
				}
			}

			.firstNameInput,
			.lastNameInput {
				img {
					opacity: 0.7;
					position: absolute;
					top: 12px;
					left: 12px;
				}
			}

			button {
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.5px;
				border-radius: 2px;
				color: #fff;
				background-color: rgba($color: #ffd700, $alpha: 0.8);
				width: 100%;
				padding: 12px;
				border: 1px solid rgba($color: #ffd700, $alpha: 0.8);
				cursor: pointer;
				transition: background-color 0.2s ease-in-out;

				&:hover {
					background-color: rgba($color: #ffd700, $alpha: 1);
				}
			}
		}

		.footer {
			display: flex;
			align-items: center;
			margin-top: 18px;
			font-size: 12px;

			.checkboxContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				color: rgba($color: #d3d3d3, $alpha: 0.6);

				input {
					margin: 0;
					appearance: none;
					width: 18px;
					height: 18px;
					border: 1px solid rgba($color: #d3d3d3, $alpha: 0.6);
					border-radius: 2px;
					position: relative;
					cursor: pointer;

					&:checked::before {
						content: '';
						position: absolute;
						width: 6px;
						height: 12px;
						border: solid #ffd700;
						border-width: 0 1px 1px 0;
						transform: rotate(45deg);
						left: 5px;
						top: 0px;
					}
				}
			}
		}
	}
}
