.movieDetailsPage {
	background-color: #1c1c1c;
	color: #fff;
	padding: 20px;

	.detailsContainer {
		display: flex;
		gap: 20px;
		background-color: #2f2f2f;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
	}

	.imageSection {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		position: relative;

		.movieImage {
			width: 65%;
			height: auto;
			border-radius: 5px;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.8), 0 0 80px rgba(0, 0, 0, 0.6);
		}

		.likeButton {
			position: absolute;
			right: 70px;
			bottom: 20px;
			background-color: transparent;
			border: none;
			cursor: pointer;

			img {
				width: 50px;
				height: 50px;
				transition: transform 0.2s ease;

				&:hover {
					transform: scale(1.1);
				}

				&:active {
					transform: scale(0.9);
				}
			}
		}

		.movieRating {
			margin-top: 15px;
			font-size: 24px;
			color: #ffd700;
			text-align: center;
			font-weight: bold;
			display: inline-block;
		}
	}

	.infoSection {
		flex: 2;
		padding: 20px;

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h1 {
				font-size: 32px;
				color: #ffd700;
				font-weight: bold;
				margin-bottom: 10px;
			}

			.closeButton {
				background: transparent;
				color: #fff;
				font-size: 24px;
				border: none;
				cursor: pointer;
			}
		}

		.detailsList {
			margin-top: 20px;
			list-style: none;
			padding: 0;

			li {
				margin-bottom: 10px;
				font-size: 18px;
				color: #d3d3d3;

				strong {
					color: #fff;
				}
			}
		}

		.description {
			margin-top: 20px;
			font-size: 16px;
			color: #d3d3d3;
			line-height: 1.5;
		}
	}

	.recommendationsContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: #2f2f2f;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
		margin-top: 30px;
		padding: 20px;

		.recommendationsTitle {
			font-size: 24px;
			color: #ffd700;
			text-align: center;
		}

		.sliderControls {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			width: 100%;

			.arrowButton {
				background-color: transparent;
				border: none;
				cursor: pointer;
				padding: 10px;

				img {
					width: 40px;
					height: 40px;
				}

				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
			.recommendationsSlider {
				display: flex;
				gap: 20px;
				overflow: hidden;
				flex-wrap: nowrap;
				justify-content: center;
				width: calc(100% - 100px);
			}
		}
	}
}
